@model Book; 

@{
    ViewBag.Title = "New Book";
    Layout = "_Layout";
}

<div class="container">
    <h3 class="display-4">Add new book</h3>
    <hr />
    @if (ViewBag.IsSuccess) 
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> Yout should added new book successfully. <br />
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <form method="post" asp-action="AddNewBook">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Author"></label>
            <input type="text" asp-for="Author" class="form-control">
        </div>
        
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" cols="30" rows="10"></textarea>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Add book" class="btn btn-primary btn-block">
        </div>
    </form>
</div>
